{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block account_content %}
<h1>{% trans "Welcome Back" %}</h1>
<p>{% trans "Sign in to continue your creative journey." %}</p>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<div class="socialaccount_ballot">
    <div class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </div>
</div>
{% include "socialaccount/snippets/login_extra.html" %}
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
</form>

<div class="account-links">
    <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a><br>
    {% blocktrans %}Don't have an account? <a href="{{ signup_url }}">Sign up</a>{% endblocktrans %}
</div>
{% endblock %}