{% extends "account/base.html" %}
{% load i18n %}
{% load allauth %}

{% block head_title %}
{% trans "Set Password" %}
{% endblock head_title %}

{% block account_content %}
<h1>{% trans "Set Password" %}</h1>
<p>{% trans "You're logging in with Google for the first time. Set a password to complete your account." %}</p>

<form method="post" action="{% url 'account_set_password' %}" class="password_set">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit" name="action">{% trans "Set Password" %}</button>
</form>

<div class="account-links">
    <a href="{% url 'account_login' %}">{% trans "Back to Login" %}</a>
</div>
{% endblock account_content %}