{% extends "account/base.html" %}
{% load i18n %}
{% load allauth %}

{% block head_title %}
{% trans "Change Password" %}
{% endblock head_title %}

{% block account_content %}
<h1>{% trans "Change Password" %}</h1>
<p>{% trans "Update your account security." %}</p>

<form method="post" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name="action">{% trans "Change Password" %}</button>
</form>

<div class="account-links">
    <a href="{% url 'edit_profile' %}">{% trans "Back to Profile" %}</a>
</div>
{% endblock account_content %}