{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Sign Up" %}{% endblock %}

{% block account_content %}
<h1>{% trans "Join Us" %}</h1>
<p>{% trans "Create an account to start sharing your stories with the world." %}</p>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<div class="socialaccount_ballot">
    <div class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </div>
</div>
{% endif %}

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit">{% trans "Sign Up" %}</button>
</form>

<div class="account-links">
    {% blocktrans %}Already have an account? <a href="{{ login_url }}">Sign in</a>{% endblocktrans %}
</div>
{% endblock %}