{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Sign Up" %}{% endblock %}

{% block account_content %}
<h1>{% trans "Create Account" %}</h1>
<p>{% trans "Join our community of storytellers today." %}</p>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<div class="socialaccount_ballot">
    <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="connect" %}
    </ul>
    <div class="login-or">{% trans "OR" %}</div>
</div>
{% endif %}

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit">{% trans "Sign Up" %}</button>
</form>

<div class="account-links">
    {% trans "Already have an account?" %} <a href="{{ login_url }}">{% trans "Sign in" %}</a>
</div>
{% endblock %}