{% extends "account/base.html" %}
{% load i18n %}

{% block title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block account_content %}
<h1>{% trans "Verify Your E-mail Address" %}</h1>
<p>{% trans "We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process.
    Please contact us if you do not receive it within a few minutes." %}</p>

<div class="account-links">
    <a href="{% url 'account_login' %}">{% trans "Back to Sign In" %}</a>
</div>
{% endblock %}