<!-- newapp/partials/_book_comment.html -->
<div class="comment-card" id="book-comment-{{ comment.id }}">
    <div class="comment-header" style="display: flex; justify-content: space-between; align-items: center;">
        <div>
            <span class="comment-author">{{ comment.user.username }}</span>
            <span class="comment-date">{{ comment.created_at|date:"Y-m-d" }}</span>
        </div>
        {% if user == comment.user %}
        <button class="comment-delete-btn" onclick="deleteComment({{ comment.id }}, 'book')" title="Delete comment">
            <i class="fa-solid fa-trash-can"></i>
        </button>
        {% endif %}
    </div>
    <div class="comment-content">
        {{ comment.content|linebreaksbr }}
    </div>
</div>